
/*--------------------------------------------------------------
# Nav bar
--------------------------------------------------------------*/

.navbar .career-nav,
.navbar .career-nav:focus {
  background: #2487ce;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .career-nav:hover,
.navbar .career-nav:focus:hover {
  color: #2487ce;
  background: #fff;
  border: 2px solid  #2487ce;
}
.navbar-mobile .career-nav,
.navbar-mobile .career-nav:focus {
  margin: 15px;
}
