/*--------------------------------------------------------------
# Home Slide 
--------------------------------------------------------------*/

.carousel-item
{
  min-height: 300px;
  background: no-repeat center center scroll; 
  -webkit-background-size: cover;
  background-size: cover;
}
.carousel-caption
{
  bottom: 400px;
}
.carousel-caption h5
{
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
} 
.carousel-caption p
{
  width:60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  font-weight: bold;
}
.carousel-item img{
    width: 100%;
    height: 85vh;
    object-fit: cover;
}
.carousel-caption h5{
    color: #02416e;
    font-weight: bold ;
}

.carousel-caption p{
    color: #3194db; 
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero h4{
  font-size: 26px;
  color: #124265;
}

#hero h5{
  font-size: 20px;
  color: #124265;
}

#hero h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #124265;
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# modal pop
--------------------------------------------------------------*/
@media(min-width: 800px){  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 998; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
    align-content: center;

  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
}

@media (max-width:800px){
  @media(min-width: 500px){  
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 998; /* Sit on top */
      padding-top: 5vh; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      /* margin: 10px; */
      padding: 20px;
      /* border: 1px solid #888; */
      width: 100%;
    }
    
  }
}

@media (max-width:500px){
  @media(min-width: 200px){  
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 998; /* Sit on top */
      padding-top:10vh; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      /* margin: 10px; */
      padding: 20px;
      /* border: 1px solid #888; */
      width: 100%;
    }
    
  } 
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal .icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  /* background: #2487ce; */
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  /* color: #; */
  border-radius: 8px;
  z-index: 1;
}

.modal .icon-box .apply {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 4px;
  color: #2487ce;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  border: 2px solid #2487ce;
  background: #fff;
}

.modal .icon-box .apply:hover {
  background: #2487ce;
  color: #fff;
  border: 2px solid #2487ce;
}